@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: purple;
}

.imglogo{
    display: flex;
    margin: 10px auto;
    max-width: 100%;
    width: 160px;
    height: 120px;
    /* background-color: rgba(212, 212, 212, 0.924); */
    padding: 5px 10px;
    /* border-radius: 130px; */
}

h1{
    color: red;
    margin: 15px;
    font-family: sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    color: green;
    font-family: 'Pacifico', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.3rem;
    text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px 1px 0px #fff, 0px -1px 0px #fff;
}

section{
    margin: 0 25px;
    /* display: flex; */
}

hr{
    width: 65%;
    margin: 15px auto;
    margin-bottom: 5px;
    color: honeydew;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 10px;
    color: #fff;
    /* background-color: rgba(177, 177, 177, 0.95); */
    padding: 0px 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
    height: auto;
}

img{
    max-width: 100%;
    border-radius: 5px;
    width: 112px;
    height: 112px;
    overflow: hidden;
    justify-self: center;
}

.tituloHamburguer{
    margin-top: 20px;
    grid-column: 1/4;
    font-family: 'Sigmar One', sans-serif;
    color: yellow;
}

.descricaoHamburguer{
    grid-column: 1/3;
    font-family: 'Bebas Neue';
    margin-top: 10px;
}

select{
    width: 45%;
    justify-self: center;
    color: white;
    background-color: green;
    border: green;
    padding: 6px;
    border-radius: 4px;
    font-family: sans-serif;
}

.subtotalValor{
    font-family: 'Bebas Neue';
    font-size: 1.1rem;
    margin-top: 5px;
}

button{
    background-color: green;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 4px;
    border: green;
}

.btnPedir{
    grid-column: 3;
    width: 60%;
    justify-self: center;
    margin-top: 5px;
}

.btn-goBack{
    display: grid;
    margin: 40px  auto;
}

/*Estilização sabores*/

#docSabores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#docSabores > .container > .tituloHamburguer{
    text-align: center;
    font-size: 13px;
}

#docSabores > .container > .btnPedir{
    grid-column: 1/4;
    font-size: 10px;
    width: 80px;
    height: 30px;
}

/*Estilizacao adicionais*/

#adicionaisDom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* #adicionaisDom > .container{
    grid-template-columns: 1fr 1fr 1fr;
} */

#adicionaisDom > .container > .tituloHamburguer,
#adicionaisDom > .container > .subtotalValor{
    text-align: center;
    font-size: 13px;
}

#adicionaisDom > .container > .subtotalValor{
    grid-column: 1/4;
}

#adicionaisDom > .container > .btnPedir{
    grid-column: 1/4;
    font-size: 10px;
    width: 80px;
    height: 30px;
}

/*fim da estilizacao*/

#mostraescolha{
    color: white;
    text-align: center;
}

.msgexplica{
    color: white;
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
}

.btntemp2{
    display: flex;
    margin: 0 auto;
}