@import url('https://fonts.googleapis.com/css?family=Alata:300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Alata', Arial;
}


body{
    background-color: purple;
    color: red;
}

.imglogo{
    display: flex;
    margin: 15px auto;
    max-width: 100%;
    width: 160px;
    height: 120px;
    /* background-color: rgba(212, 212, 212, 0.924); */
    padding: 10px 10px;
    /* border-radius: 130px; */
}

#txBairro{
    margin-right: 20px;
}

table {
    min-width: 70%;
    margin: auto;
    text-align: center;
    table-layout: fixed;
}

table, tr, th, td{
    padding: 7px 0;
    color: white;
    border-collapse: collapse;
    font-size: 13px;
    /* background-color: rgba(100, 100, 100, 0.404); */
}

th{
    color: yellow;
    padding: 10px 10px;
}

.item{
    font-size: 13px;
}

.descricaoDoHam{
    font-size: 10px;
}

#total, #totalTXT{
    color: yellow;
}

button{
    background-color: green;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
}

.btn-goBack, .goBack, .btn-avancaForm, .btn-comprarMais, #finalizarPedido, #confirmarPedido{
    margin: 20px 10px;
}

.btn-avancaForm, #finalizarPedido, #confirmarPedido{
    float: right;
}

#confirmarPedido{
    position: relative;
    bottom: 120px;
    right: 700px;
}

form{
    margin-left: 5%;
}

input{
    display: block;
    width: 45%;
    margin: 10px 0 5px 0;
    border: solid green;
    border-radius: 6px;
    padding: 10px;
}

select{
    margin-top: 5px;
    color: white;
    background-color: green;
    border: green;
    padding: 6px;
    font-family: sans-serif;
}

textarea{
    border: solid green;
    border-radius: 6px;
}

#troco{
    width: 33%;
}

form{
    /* background-color: rgba(255, 217, 0, 0.753); */
    color: #fff;
    padding: 20px 10px;
    border-radius: 7px;
}

.msgFim{
    /* background-color: rgba(255, 217, 0, 0.753); */
    padding: 10px;
    color: black;
    text-align: justify;
}

.btnFim{
    display: flex;
    margin: 20px auto;
    cursor: pointer;
}

@media(max-width: 768px){
    input{
    display: block;
    width: 85%;
    margin: 1rem 0 .5rem;
    border: solid green;
    border-radius: 6px;
    padding: 2%;
}

#confirmarPedido{
    right: 5px;
}

}